:root {
  --primary-color: #649cb4;
  --secondary-color: #f5ce00;
  --background-color: #e5e5e5;
  --text-color: #4e4b40;
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Merriweather", serif;
  --drop-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.navbar {
  margin-bottom: 50px;
}
.bg-customnav {
  background-color: var(--primary-color);
}
.navbar a {
  color: white;
}
.colorCharacter {
  color: var(--secondary-color);
}
.shadowBox {
  box-shadow: var(--drop-shadow);
  border-radius: 7px;
  max-height: 500px;
}
.myImage {
  max-width: 476px;
}
