:root {
  --primary-color: #649cb4;
  --secondary-color: #f5ce00;
  --background-color: #e5e5e5;
  --text-color: #4e4b40;
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Merriweather", serif;
  --drop-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 160px;
}

.navbar {
  background-color: var(--primary-color);
}
.colorCharacter {
  color: var(--secondary-color);
}

.intro {
  margin-left: 250px;
  margin-top: 150px;
  color: var(--text-color);
}

h3,
p {
  font-size: 23px;
}
h3 {
  font-family: var(--primary-font);
}
p {
  font-weight: 300;
  font-family: var(--primary-font);
}

h1 {
  line-height: 60px;
  font-size: 62px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: var(--primary-font);
}
h5 {
  font-size: 10px;
}
.shadowBox-homepage {
  margin-bottom: 150px;
  margin-top: 100px;
  height: 500px;
  padding: 0;
  box-shadow: var(--drop-shadow);
  border-radius: 7px;
  width: 100%;
}
.shadowBox-homepage a {
  font-family: var(--secondary-font);
  background-color: var(--secondary-color);
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 5px;
}

.shadowBox {
  margin-bottom: 80px;
  margin-top: 80px;
  padding: 0;
  box-shadow: var(--drop-shadow);
  border-radius: 7px;
  width: 100%;
}
.myImage {
  max-width: 476px;
  margin-left: 65px;
  border: 12px solid white;
  box-shadow: var(--drop-shadow);
  border-radius: 12px;
  position: absolute;
  top: 95px;
}

.subheading button {
  margin: auto;
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: 500;
  display: block;
  background-color: var(--primary-color);
  border-radius: 7px;
  padding: 3px 89px;
  font-size: 18px;
  border: none;
  color: white;
  word-spacing: 2px;
}
.subheading button::before {
  content: "";
  position: absolute;
  left: 0;
  margin-top: 12px;
  width: 30%;
  height: 2px;
  background: var(--primary-color);
  opacity: 50%;
}
.subheading button::after {
  content: "";
  position: absolute;
  right: 0;
  margin-top: 12px;
  width: 30%;
  height: 2px;
  background: var(--primary-color);
  opacity: 50%;
}

.highlight {
  color: var(--secondary-color);
}

.aboutmetext {
  font-family: var(--primary-font);
  padding: 30px;
  font-size: 18px;
  margin-bottom: 0;
}
.skillsrow {
  padding: 40px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  display: inline;
}
.linkbuttons {
  margin: 20px;

  padding: 10px;
  max-width: 60px;
  border-radius: 7px;
  box-shadow: var(--drop-shadow);
}
.skillscol {
  text-align: center;
  border-radius: 7px;
  box-shadow: var(--drop-shadow);
  max-width: 70%;
  margin: auto;
}
.skillscol p {
  font-size: 16px;
  margin-bottom: 0;
}

.skills {
  width: 90px;
  padding: 10px;
  text-align: center;
}

.shadowBoxProjects {
  margin-bottom: 80px;
  margin-top: 80px;
  padding: 20px;
  box-shadow: var(--drop-shadow);
  border-radius: 7px;
  width: 100%;
  display: block;
}

.shadowBoxMini {
  padding: 5px;
  margin: 30px;
  border: 2px solid var(--background-color);
  border-radius: 7px;
  max-width: 100%;
}

.projectBox {
  margin: 10px;
}
.projectImage {
  max-width: 100%;
  border-radius: 7px;
}

.projectButtons a {
  font-family: var(--secondary-font);
  background-color: var(--secondary-color);
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 20px;
}
.contactbuttons {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.mini {
  padding-top: 25px;
  padding-bottom: 25px;
}
.emailId {
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 15px;
}
footer {
  text-align: center;
  background-color: var(--primary-color);
}
@media (max-width: 960px) {
  .skillscol p {
    font-size: 12px;
  }
  .skills {
    width: 60px;
  }
  h1 {
    font-size: 39px;
  }
  .aboutmetext {
    font-size: 16px;
  }
}
@media (max-width: 540px) {
  body {
    margin-top: 100px;
  }
  .skillscol p {
    font-size: 9px;
  }
  .skills {
    width: 30px;
    padding: 0;
  }
  .emailId {
    font-size: 10px;
  }
  .shadowBox,
  .shadowBoxProjects {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .subheading button {
    padding: 3px 39px;
    font-size: 13px;
  }
  li .linkbuttons {
    max-width: 40px;
    margin: 2px 2px 20px 2px;
    padding: 7px;
  }
  .shadowBoxMini {
    margin: 5px;
    text-align: center;
  }
  .shadowBox-homepage {
    margin-bottom: 50px;
    margin-top: 0px;
    height: 200px;
    padding: 0;

    width: 80%;
  }
  .intro {
    margin-left: 0px;
    margin-top: 43px;
    text-align: center;
  }
  .intro a {
    font-size: 10px;
  }
  h1 {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  h3,
  p {
    font-size: 13px;
  }

  .projectButtons a {
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 3px;
  }
}
